
@import url('https://fonts.googleapis.com/css2?family=Montenegrin+Gothic+One&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montenegrin Gothic One;
}

:root{
    --cor01: #cad7e2;
    --cor02: #54586b;
    --cor03: #7b809b;
    --branca: #fcfcfc;
}

#geral{
    margin: 20px;
}
#cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
   
}

#menu ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

#menu ul img{
    width: 25px;
    height: 25px;
}


